<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Exam result</title>
<link rel="stylesheet" type="text/css" media="all" href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>

	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	
exam result

	<div th:switch=${exam.status}>
	
		<div th:case="'NONINSERITO'">
			<p>Voto non ancora definito</p>
		</div>
		
		<div th:case="'INSERITO'">
			<p>Voto non ancora definito</p>
		</div>
		
		<div th:case="*">
			<p>Student</p>
			Id: <span th:text="${exam.student.id}"></span><br>
			Name: <span th:text="${exam.student.name}"></span><br>
			Surname: <span th:text="${exam.student.surname}"></span><br>
			Email: <span th:text="${exam.student.email}"></span><br>
			Bachelor course: <span th:text="${exam.student.bachelorCourse}"></span><br>
			<br>
			<p>Course</p>
			Code: <span th:text="${exam.appello.course.code}"></span><br>
			Name: <span th:text="${exam.appello.course.name}"></span><br>
			Professor: <span th:text="${exam.appello.course.professor.name}"></span> <span th:text="${exam.appello.course.professor.surname}"></span><br>
			<br>
			<p>Session</p>
			Date: <span th:text="${exam.appello.date}"></span><br>
			<br>
			Grade: <span th:text="${exam.grade}"></span><br>
			Stsatus: <span th:text="${exam.status}"></span><br>
			<br>
			
			<div th:if="${refusable}">
				<form th:action="@{/Rifiuta}" method="POST">
					<input type="hidden" name="examId" th:value="${exam.id}"/>
					<input type="hidden" name="date" th:value="${exam.appello.date}"/>
					<input type="hidden" name="courseId" th:value="${exam.appello.course.id}"/>
					<input type="submit" name="submit" value="Refuse grade"/>
				</form>
			</div>
		</div>
	</div>
</body>
</html>