<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registered students</title>
<link rel="stylesheet" type="text/css" media="all" href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />

</head>
<body>
	<h2>Registered students for 
	<span th:text="${courseName}"></span>, <span th:text="${appello}"></span>
	<!-- course=${course}, appello=${sppello}, courseName=${courseName} -->
	</h2>

		<div th:if="${not #lists.isEmpty(registeredStudents)}">
				
					<table border="1">
						<thead>
							<tr>
								<th>
								<a href="RegisteredStudents.html" th:href="@{/GoToRegisteredStudents(sortBy='studentId', course=${course}, appello=${appello}, courseName=${courseName})}">Student id</a>
								</th>
								<th>
								<a href="RegisteredStudents.html" th:href="@{/GoToRegisteredStudents(sortBy='surname', course=${course}, appello=${appello}, courseName=${courseName})}">Surname</a>
								</th>
								<th>
								<a href="RegisteredStudents.html" th:href="@{/GoToRegisteredStudents(sortBy='name', course=${course}, appello=${appello}, courseName=${courseName})}">Name</a>
								</th>
								<th>
								<a href="RegisteredStudents.html" th:href="@{/GoToRegisteredStudents(sortBy='email', course=${course}, appello=${appello}, courseName=${courseName})}">Email</a>
								</th>
								<th>
								<a href="RegisteredStudents.html" th:href="@{/GoToRegisteredStudents(sortBy='corsoDiLaurea', course=${course}, appello=${appello}, courseName=${courseName})}">Corso di laurea</a>
								</th>
								<th>
								<a href="RegisteredStudents.html" th:href="@{/GoToRegisteredStudents(sortBy='grade', course=${course}, appello=${appello}, courseName=${courseName})}">Grade</a>
								</th>
								<th>
								<a href="RegisteredStudents.html" th:href="@{/GoToRegisteredStudents(sortBy='status', course=${course}, appello=${appello}, courseName=${courseName})}">Status</a>
								</th>
								</tr>
						</thead>
						<tbody>
							<tr th:each="rs : ${registeredStudents}">
								<td th:text="${rs.studentId}"></td>
								<td th:text="${rs.surname}"></td>
								<td th:text="${rs.name}"></td>
								<td th:text="${rs.email}"></td>
								<td th:text="${rs.corsoDiLaurea}"></td>
								<td th:text="${rs.grade}"></td>
								<td th:text="${rs.status}"></td>
							</tr>
						</tbody>
					</table>
 		 </div> 
</body>
</html>