<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registered students</title>
<link rel="stylesheet" type="text/css" media="all" href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	
	<h2>Registered students for 
	<span th:text="${courseName}"></span>, <span th:text="${date}"></span>
	</h2>

		<div th:if="${not #lists.isEmpty(registeredStudents)}">
				
					<table border="1">
						<thead>
							<tr>
								<th>
								<a href="RegisteredStudents.html" th:href="@{/GoToRegisteredStudents(sortBy='studentId', date=${date}, appelloId=${appelloId}, courseName=${courseName})}">Student id</a>
								</th>
								<th>
								<a href="RegisteredStudents.html" th:href="@{/GoToRegisteredStudents(sortBy='surname', date=${date}, appelloId=${appelloId}, courseName=${courseName})}">Surname</a>
								</th>
								<th>
								<a href="RegisteredStudents.html" th:href="@{/GoToRegisteredStudents(sortBy='name', date=${date}, appelloId=${appelloId}, courseName=${courseName})}">Name</a>
								</th>
								<th>
								<a href="RegisteredStudents.html" th:href="@{/GoToRegisteredStudents(sortBy='email', date=${date}, appelloId=${appelloId}, courseName=${courseName})}">Email</a>
								</th>
								<th>
								<a href="RegisteredStudents.html" th:href="@{/GoToRegisteredStudents(sortBy='corsoDiLaurea', date=${date}, appelloId=${appelloId}, courseName=${courseName})}">Corso di laurea</a>
								</th>
								<th>
								<a href="RegisteredStudents.html" th:href="@{/GoToRegisteredStudents(sortBy='grade', date=${date}, appelloId=${appelloId}, courseName=${courseName})}">Grade</a>
								</th>
								<th>
								<a href="RegisteredStudents.html" th:href="@{/GoToRegisteredStudents(sortBy='status', date=${date}, appelloId=${appelloId}, courseName=${courseName})}">Status</a>
								</th>
								<th>     </th>
								</tr>
						</thead>
						<tbody>
							<tr th:each="rs : ${registeredStudents}">
								<td th:text="${rs.student.id}"></td>
								<td th:text="${rs.student.surname}"></td>
								<td th:text="${rs.student.name}"></td>
								<td th:text="${rs.student.email}"></td>
								<td th:text="${rs.student.bachelorCourse}"></td>
								<td th:text="${rs.grade}"></td>
								<td th:text="${rs.status}"></td>
								<td><a href="ExamDetails.html" th:href="@{/GoToExamDetails(examId=${rs.id}, courseName=${courseName})}">Modify</a></td>
							</tr>
						</tbody>
					</table>
					<a th:href="@{/Pubblica(appelloId=${appelloId}, date=${date}, courseName=${courseName})}">Pubblica</a> <br>
					<a th:href="@{/Verbalizza(appelloId=${appelloId}, date=${date}, courseName=${courseName})}">Verbalizza</a>
					
 		 </div> 
</body>
</html>